{% extends "layout.html" %}

{% block starter %}
<h2>Starter</h2>
<form action="{{ url_for('starter') }}" method=post>

    {{ form.Puzzle.label }}
    {{ form.Puzzle }}

    {{ form.Password.label }}
    {{ form.Password }}

    {{ form.Message.label }}
    {{ form.Message }}

    {{ form.Submit }}
</form>

<script type="text/javascript">
 
    var mode = "N";
    var caretPos = 0;
    var puzzleTxt = document.getElementById("Puzzle");
    var passwdTxt = document.getElementById("Password");
    puzzleTxt.style.backgroundColor = 'lightgreen';

    function passKey1(e) {

        e.preventDefault();

        if (e.key == 'ArrowRight' || e.key == 'ArrowLeft' || e.key == 'ArrowUp'
            || e.key == 'ArrowDown' || e.key == 'Backspace'
            || e.key == 'Alt' || e.key == 'Tab') {
            return;
        };

        var start = puzzleTxt.selectionStart;
        var end = puzzleTxt.selectionEnd;
        var newText = "";
        var caretPos = 0;

        $.ajax({
            type : "POST",
            url : "{{ url_for('load_ajax') }}",
            data: JSON.stringify(e.key, null, '\t'),
            contentType: 'application/json;charset=UTF-8',
            async : false,
            success: function(result) {
                newText = result.buffer;
                caretPos = result.col[1];
            }
        });

        puzzleTxt.value = newText;
        passwdTxt.value = passwdTxt.value+e.key;
        puzzleTxt.setSelectionRange(caretPos, caretPos);
    };

function filterEscape(e){

    if (e.key == 'ArrowRight' || e.key == 'ArrowLeft' || e.key == 'ArrowUp'
        || e.key == 'ArrowDown') {
        e.preventDefault();
        return;
    };

    if (e.key == 'Esc'){
        mode = "N";
        puzzleTxt.style.backgroundColor = 'lightgreen';
        puzzleTxt.select();
    };

};

document.getElementById("Puzzle").addEventListener("keypress", passKey1, false);
document.getElementById("Puzzle").addEventListener("keydown", filterEscape, false);


</script>

{% endblock %}
